body {
  width: 600px;
  background-color: #0c507a;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
}

h1 {
  font-weight:bold;
}

h3 {
  width:550px;
}

ui-gmap-google-map {
  color:#000000;
}

.angular-google-map-container { 
  height: 300px; 
}

.fixed-div {
  height: 200px;
  overflow:scroll;
  background-color: #39789D;
  margin-top:20px;
  padding:5px;
}

.fixed-div li {
  border-bottom:1px solid #eee; 
}

.desc {
  font-size:16px;
}

.datetime {
  font-size:16px;
}

.marker-labels {
  background-color: white;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #39789D;
  background-image: -webkit-linear-gradient(top, #39789D, #1B6895);
  background-image: -moz-linear-gradient(top, #39789D, #1B6895);
  background-image: -ms-linear-gradient(top, #39789D, #1B6895);
  background-image: -o-linear-gradient(top, #39789D, #1B6895);
  background-image: linear-gradient(to bottom, #39789D, #1B6895);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #fc8f3c;
  text-decoration: none;
}

.btn:disabled {
  background: #c4c4c4;
  color: #666666;
}

:-moz-placeholder {
  color: #666666;
}
 
::-webkit-input-placeholder {
  color: #666666;
}

*:focus {outline: none;}

.form ul {
  width:550px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}

.form li{
  padding:12px; 
  position:relative;
}

.addr2, .date2, .long {
  border-bottom:1px solid #eee; 
}

.form label {
  width:150px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}

.form input {
  height:20px; 
  width:220px; 
  padding:5px 8px;
  font-size:16px;
}

.notify {
  font-weight: italic;
  font-size: 16px;
  color: #ff7070;
}

.form input:valid { /* when a field is considered valid by the browser */
  background: #fff;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}